#{box-sizing: border-box;
}
header{
background-color: rgba(0, 50, 255, 2);
weight:70px
display: flex;
justify-content: center;
align-items: left;
margin-left: auto;
text-align: justify;
}
body{
  font-family: 'Open Sans Condensed', sans-serif
  margin:0%;
  margin-left: 0%;
  padding: 0%;
  background-color: rgb(162, 202, 223);
  color: rgb(255, 255, 255);
  text-align: justify;
}
logo{
height: 30px;
width: 20%;
}
h2:hover {filter: opacity(.1);}
h2{
font-family: 'Open Sans Condensed', sans-serif;
text-align: center;
display: flex;
justify-content: center;
text-decoration-style: solid;
font-style:oblique;
color: rgb(255, 255, 255);
}

h3{
font-family: 'Open Sans Condensed', sans-serif;
justify-content: center;
text-align: center;
text-decoration-style: solid;
font-style:oblique;
    }
h4:hover {filter: opacity(.5);}
h4{
font-family: 'Open Sans Condensed', sans-serif;
text-decoration-style: solid;
font-size: 30px;
text-align: center;
color: white;
}
h5:hover {filter: opacity(.5);}
h5{
font-family: 'Open Sans Condensed', sans-serif;
text-align: center;
display: inline-block;
text-decoration-style: solid;
font-size: 30px;
justify-content:center;
color: rgb(255, 255, 255);
}
.foto{
display: flex;
justify-content: center;
margin:inherit;
padding: inherit;
}
.tarjetas{
font-family: 'Open Sans Condensed', sans-serif;
margin-left: -25%;
margin-right: 25%;
display: flex;
text-align:center;
justify-content: space-between;
}
.foto:hover.foto {-webkit-transform:scale(1);transform:scale(2);}
.foto{overflow:hidden;}
.empatia{
font-family: 'Open Sans Condensed', sans-serif;
width: auto;;
height: auto;
justify-content:center;
text-align: center;}
.pablo{
font-family: 'Open Sans Condensed', sans-serif;
text-align: center;
display: flex;
justify-content:flex-start;
}
h3{
font-family: 'Open Sans Condensed', sans-serif;
justify-content: center;
text-align: center;
color: rgb(255, 255, 255);
}
#nos conocemos{
  font-family: 'Open Sans Condensed', sans-serif;
  justify-content:space-around;
  text-align: center;
  color: rgb(255, 255, 255);
}
h4{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  text-align: center;
  color: white;
}
h5{
  font-family: 'Open Sans Condensed', sans-serif;
  display: flex;
  font-size: 30px;
  justify-content:center;
  text-align: center;
  color: rgb(255, 255, 255);
}
h6{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  justify-content: center;
  text-align: center;
  color: rgb(255, 255, 255);
}
.parrafo{
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: justify;
  margin-left: 2%;
  margin-right: 2%;
}
.medico paciente{
display: none;
color: rgb(255, 255, 255);
}
.video{
  display: flex;
  justify-content: center;
}
.titulo{
font-family: 'Open Sans Condensed', sans-serif;
text-align: center;
}
.li listado prestaciones{
  font-family: 'Open Sans Condensed', sans-serif;
  color: rgb(255, 255, 255);}

.prestaciones{
  font-family: 'Open Sans Condensed', sans-serif;
  margin-left: 20px;
  text-align: left;
  font-size: 30px;
  font-style: italic;
  color: rgb(255, 255, 255)
}
.tarjetas{
  font-family: 'Open Sans Condensed', sans-serif;
  display: flex;
  justify-content: center;
  margin-left: 10%;
  justify-content: space-between;
}

}
.linkconsultorio{
font-family: 'Open Sans Condensed', sans-serif;
display: flex;
justify-content:flex-end;
}
.imagen{
width: 70vh;
display: flex;
}
#experiencias{
text-align: justify;
font-size: 15px;
font-family: 'Open Sans Condensed', sans-serif;
color: rgb(0, 0, 255);
}
.pacientes{
  text-align: justify;
color: white;
font-size: 25px;
margin-left: 2%;
margin-right: 2%;
}
.paciente{
  display: flex;
color: white;
font-size: 25px;
margin-left: 1%;
margin-right: 1%;
}
.pregunta{
  color: white;
  font-size: 25px;
  margin-left: 2%;
  margin-right: 2%;
font-family: 'Open Sans Condensed', sans-serif;
}
.respondemos{
font-family: 'Open Sans Condensed', sans-serif;
color: rgb(0, 0, 255);
font-size: 25px;
}
.h4{
  display: flex;
  justify-content: center;
text-align: center;
  font-size: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: rgb(255, 255, 255);
  margin-left: 2%;
  margin-right: 2%;
}
.volver{
font-family: 'Open Sans Condensed', sans-serif;
display: flex;
justify-content: flex-end;
color: rgba(0, 0, 0, 3,2);
}
footer{
display: flex;
height: 30vh;
width: 100%;
padding: 0%;
background-color: rgb(163, 231, 214);
justify-content: space-around;
padding-top: 5%;
}
.mapa{
  display:block;
margin-bottom: auto;
}
.link{
  width: 120px;
  display:flex;
  text-align: center;
  margin-left: 92%;
  justify-content: flex-end;
  color: rgb(0, 0, 255);
  font-style: oblique;
  background-color: rgb(255,255,255);
  border-color: rgb(0, 0, 150);
}
/*media queries*/
@media only screen and (max-width:800px)
 {
h3{
  display: none;}
h4{
  display: none;
}
.mapa {
  display: none;
}
.pacientes{
display: none;
}
.pregunta{
  display: none;
}
